$bg-gradient-1: #27273E;
$bg-gradient-2: #86337A;

$border-radius-size: 3px;

html,
body,
#root,
.App,
.expand-height {
  height: 100%;
}

.bg-gradient {
  background-color: $bg-gradient-2;
  background-image: linear-gradient($bg-gradient-1, $bg-gradient-2);
  color: #fff;
}

.column.flex-row,
.flex-row {
  display: flex;
  &.is-center {
    justify-content: center;
    align-items: center;
  }
}

.flex-item {
  flex: 1;
}

.question,
.answer-item,
.result {
  background-color: #fff;
  border-radius: 3px;
  color: #333;

  font-weight: bold;
  
}

.question {
  padding: 10px;
  word-wrap: break-word;
}

.result {
  padding: 20px;
}

.answer-item {
  padding: 15px 10px;
  width: 100%;
  border: 0;
  cursor: pointer;
}

.answer-item:hover,
.answer-item.active {
  background-color: #86337A;
  color: #fff;
}


.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.ml1 {
  margin-left: 1rem;
}

.hide {
  display: none;
}

.wrapword {
  white-space: pre-wrap;                
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}


